* {
    font-family: Arial;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: azure;
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
}
h2 {
    text-align: center;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1142px;
    flex-direction: column;
}
#main {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.galeria {
    display: flex;
    flex-direction: column;
}

.imagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.imagens figure {
    display: flex;
    flex-wrap: wrap;
    width: 460px;
    height: 425px;
    margin: 41px;
}
.imagens figcaption {
    font-size: 13px;
}
.imagens img {
    width: 460px;
    height: 425px;
}